.mainPageWelcomeTitle {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.mainPageInstructionTitle {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}