.wrapperContainerList {
  margin: 0 50px 0 20px;
}

.wrapperContainerAddLists {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapperContainerTasksPage {
  padding-bottom: 50px;
}